<ion-header>

  <ion-navbar>
    <ion-title *ngIf="mode=='New'">New Recipe</ion-title>
    <ion-title *ngIf="!(mode=='New')"></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="recipeForm" (ngSubmit)="formSubmit()">
        <ion-list>
            <ion-item>
              <ion-label floating>Title</ion-label>
              <ion-input type="text" formControlName="title"></ion-input>            
            </ion-item>  
            <ion-label
              text-center
              color="danger"
              *ngIf="!recipeForm.controls['title'].pristine && recipeForm.controls['title'].invalid"
            >
              Title is not valid...
            </ion-label>
            <ion-item>
              <ion-label floating>Description</ion-label>
              <ion-textarea formControlName="description"></ion-textarea>
            </ion-item>  
            <ion-label
              text-center
              color="danger"
              *ngIf="!recipeForm.controls['description'].pristine && recipeForm.controls['description'].invalid"
            >
              Description is not valid
            </ion-label>
            <ion-item>
                <ion-label floating>Difficulty</ion-label>
                <ion-select formControlName="difficulty">
                 <div *ngFor="let option of selectedOptions; let i=index">
                    <ion-option [value]="option">{{option}}</ion-option>
                 </div>
                </ion-select>
            </ion-item>
          </ion-list>   
    
              <ion-list formArrayName="ingridients">               
                <ion-item-sliding
                  *ngFor="let igControl of recipeForm.get('ingridients').controls; let i=index"
                  [formGroupName]="i">
                  <ion-item>                
                    <ion-grid item-content>
                      <ion-row>
                        <ion-col col-auto>
                          <ion-label color="primary">Ingridient</ion-label>
                        </ion-col>
                        <ion-col>
                          <ion-input type="text" formControlName="ingridient"></ion-input>
                        </ion-col>
                        <ion-col col-auto>
                          <ion-label color="primary">Qty</ion-label>
                        </ion-col>
                        <ion-col>
                          <ion-input type="number" formControlName="qty"></ion-input>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                  <ion-item-options>
                    <button ion-button color="danger">
                      <ion-icon name="trash" (click)="onTrashIngridientClicked(i)"></ion-icon>
                    </button>
                  </ion-item-options>                  
                </ion-item-sliding>
              </ion-list>              

          <button ion-button block clear type="button" (click)="onManageIngridients()">Manage Ingridients</button>
          <button ion-button block color="primary" type="submit" [disabled]="!recipeForm.valid">New Recipe</button>                 
      </form>
</ion-content>
